<div class="container">
  <h1 class="display-3 text-uppercase text-center my-4">Cart</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card m-3">
        <div class="card-body m-2">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <button
            class="btn btn-outline-secondary m-2"
            (click)="updateQuantity(product, -1)"
          >
            -
          </button>
          <span>{{ product.quantity }}</span>
          <button
            class="btn btn-outline-secondary m-2"
            (click)="updateQuantity(product, 1)"
          >
            +
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
